@charset "UTF-8";
/* Import fonts */
@import url("../fonts/Roboto.css");
/* Reset and normalize */
@import url("./normalize.css");
body {
  font-family: "Roboto";
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222222;
}
body > main {
  width: 66%;
  min-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px #ccc;
}
@media screen and (max-width: 768px) {
  body > main {
    width: 100%;
    min-width: 100%;
  }
}
body > main header, body > main nav, body > main footer, body > main > section {
  width: 100%;
  padding: 1.5vw 5vw;
}
@media screen and (max-width: 768px) {
  body > main header, body > main nav, body > main footer, body > main > section {
    padding: 4vw 6vw;
  }
}
body > main header, body > main nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body > main header h1 {
  font-size: 2.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  color: white;
  text-shadow: -2px -1px 0 #f75c49, 2px 1px 0 #222222;
}
body > main header form {
  display: flex;
}
body > main header input {
  margin-right: 10px;
  width: 190px;
  transition: width 0.4s ease-out;
}
body > main header input:hover {
  width: 340px;
}
@media screen and (max-width: 520px) {
  body > main header input {
    width: 100%;
  }
  body > main header input:hover {
    width: 65vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  body > main header input:hover {
    width: 290px;
  }
}
@media screen and (max-width: 768px) {
  body > main header {
    flex-direction: column;
  }
}

hr {
  width: 40%;
  min-width: 320px;
  border-color: #222222;
}
@media screen and (max-width: 520px) {
  hr {
    min-width: 80%;
  }
}

input,
select {
  padding: 10px 5px;
  border: 1px solid #999999;
  border-radius: 2.5px;
}

select {
  padding: 8px 5px;
}

.button {
  padding: 10px 20px;
  background: white;
  color: #f75c49;
  border: 1px solid #f75c49;
  font-weight: bold;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #f75c49;
  color: white;
}

header .button,
header input {
  font-size: 0.8rem;
}

nav * {
  font-size: 1rem;
}
nav li {
  display: inline-block;
  margin: 0 15px;
}
nav li:nth-child(1) {
  margin-left: 0;
}
nav li a {
  text-decoration: none;
  color: #f75c49;
  font-weight: 600;
  transition: all 0.3s ease;
}
nav li a:hover {
  color: #cc4836;
}
@media screen and (max-width: 520px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    margin: 5px 0;
  }
  nav .button {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  nav {
    align-items: center;
    flex-wrap: wrap;
    justify-items: center;
  }
  nav * {
    font-size: 0.9rem;
  }
  nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  nav li {
    margin: 10px;
  }
}

h2 {
  font-size: 1.8rem;
}

.filters-container {
  display: flex;
  align-items: stretch;
  align-content: center;
  justify-content: left;
  flex-wrap: nowrap;
  margin: 2vw 0;
}
.filters-container * {
  font-size: 0.8rem;
}
.filters-container div {
  display: flex;
  align-items: center;
  color: #999999;
  padding: 0 15px;
  border-left: 2px dashed #999999;
}
.filters-container div:nth-child(1) {
  padding-left: 0;
  border-left: none;
}
.filters-container div select {
  margin-left: 14px;
}
@media screen and (max-width: 768px) {
  .filters-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .filters-container div {
    min-height: 30px;
    margin: 5px 0;
  }
}
@media screen and (max-width: 520px) {
  .filters-container {
    flex-direction: column;
    align-content: stretch;
  }
  .filters-container div {
    justify-content: center;
    border: none;
    padding: 10px 0;
    margin: 0;
    border-top: 2px dashed #999999;
  }
  .filters-container div:nth-child(1) {
    border: none;
  }
}

.top-teachers-container {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  gap: 0px 0px;
  justify-items: stretch;
}
@media screen and (max-width: 768px) {
  .top-teachers-container {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  .top-teachers-container .teacher-card .photo-container {
    width: 20vw;
    height: 20vw;
    min-width: 110px;
    min-height: 110px;
  }
}
@media screen and (max-width: 520px) {
  .top-teachers-container {
    grid-template-columns: 50% 50%;
  }
  .top-teachers-container .teacher-card .photo-container {
    width: 35vw;
    height: 35vw;
    min-width: 90px;
    min-height: 90px;
  }
}

.teacher-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  /*margin: 0;*/
}
.teacher-card .photo-star-container {
  position: relative;
}
.teacher-card .photo-star-container .star {
  position: absolute;
  width: 1.8vw;
  min-width: 22px;
  top: 0.3vw;
  right: -0.3vw;
  /*right: -22px;*/
  z-index: 100;
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .teacher-card .photo-star-container .star {
    top: 3px;
    right: -2px;
  }
}
@media screen and (max-width: 768px) {
  .teacher-card .photo-star-container .star {
    width: 4.2vw;
    top: 0.7vw;
  }
}
@media screen and (max-width: 520px) {
  .teacher-card .photo-star-container .star {
    width: 7vw;
    top: 1.8vw;
  }
}
.teacher-card .photo-container {
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #f99589;
  color: #f75c49;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5vw;
  height: 7.5vw;
  min-width: 100px;
  min-height: 100px;
  transition: all 0.3s ease;
}
.teacher-card .photo-container img {
  width: 100%;
  transition: all 0.3s ease;
}
.teacher-card .photo-container .initials {
  font-size: 1.25rem;
  font-weight: bold;
  transition: transform 0.3s ease;
}
.teacher-card:hover .photo-container {
  color: #cc4836;
  border-color: #cc4836;
}
.teacher-card:hover .photo-container * {
  transform: scale(1.2);
}
.teacher-card p {
  margin: 10px 0;
}
.teacher-card p[data-info=name] {
  color: #222222;
  font-weight: bold;
  font-size: 1.2rem;
}
.teacher-card p[data-info=specialty] {
  color: #999999;
  font-size: 0.9rem;
}
.teacher-card p[data-info=country] {
  color: #222222;
  font-size: 0.75rem;
}

.table-container {
  overflow-y: hidden;
}

.statistics-table {
  width: 100%;
}
.statistics-table thead {
  border-bottom: 1px solid #222222;
}
.statistics-table tbody tr:nth-child(2n) {
  background: #f8eff8;
}
.statistics-table th {
  padding: 10px 24px;
  transition: all 0.3s ease;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
}
.statistics-table th:hover {
  box-shadow: inset 0 -4px 0 #222222;
  background: #f8eff8;
}
.statistics-table th:hover .arrow {
  opacity: 1;
}
.statistics-table th:nth-child(1) {
  text-align: left;
}
.statistics-table td {
  padding: 6px 12px;
  font-size: 0.825rem;
  transition: all 0.3s ease;
}
.statistics-table td:nth-child(1) {
  text-align: left;
}
.statistics-table .arrow {
  color: #1a9cb0;
  transition: opacity 0.3s ease;
  opacity: 0;
  margin-left: 8px;
  position: absolute;
}

.pages-list {
  display: flex;
  align-items: flex-end;
  margin: 1.5vw 0;
  font-size: 0.8rem;
}
.pages-list * {
  margin: 0 12px;
}
.pages-list li:not(.current) {
  color: #1a9cb0;
  cursor: pointer;
}

.favorites-scroller {
  position: relative;
}
.favorites-scroller .favorites-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.favorites-scroller .favorites-container .teacher-card {
  width: 140px;
  padding: 20px 40px;
  margin: 0;
}
.favorites-scroller .favorites-container::before {
  content: attr(data-arrow);
  height: 100px;
}
.favorites-scroller .arrow {
  display: block;
  cursor: pointer;
  width: 2vw;
  height: 3vw;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.favorites-scroller .arrow.arrow-left {
  left: -2vw;
}
.favorites-scroller .arrow.arrow-right {
  right: -2vw;
}
.favorites-scroller .arrow:hover {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .favorites-scroller .arrow {
    width: 16px;
    height: 24px;
  }
  .favorites-scroller .arrow.arrow-left {
    left: -16px;
  }
  .favorites-scroller .arrow.arrow-right {
    right: -16px;
  }
}

footer p {
  text-align: left;
  padding: 10px 0;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.4); /* Adjust the color and opacity as needed */
  z-index: 999; /* Ensure it's above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  padding: 0;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3);
  color: #222222;
  font-size: 0.75rem;
  text-align: left;
}
.popup > * {
  padding: 14px;
}
.popup header {
  background: #464547;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup header > * {
  font-size: 1.1rem;
}
.popup main {
  overflow-y: auto;
  max-height: 90vh;
}
@media screen and (max-width: 520px) {
  .popup article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.popup article img {
  float: left;
  width: 220px;
  margin-right: 25px;
}
@media screen and (max-width: 520px) {
  .popup article img {
    max-width: 90%;
    margin: 0 0 25px 0;
  }
}
.popup article h2 {
  font-size: 1.65rem;
  margin-bottom: 21px;
}
.popup article h3 {
  font-size: 1rem;
  margin-bottom: 14px;
  font-weight: bold;
}
.popup article p {
  padding: 7px 0;
}
.popup article p.email {
  color: #1a9cb0;
}
.popup footer p {
  padding: 25px 0;
  clear: both;
}
.popup.teacher-info {
  width: calc(66% - 15vw);
  min-width: calc(750px - 10vw - 30px);
}
@media screen and (max-width: 768px) {
  .popup.teacher-info {
    min-width: calc(100% - 10vw - 30px);
  }
}
@media screen and (max-width: 520px) {
  .popup.teacher-info {
    min-width: calc(100% - 10vw);
  }
}
.popup.add-teacher {
  min-width: 495px;
}
@media screen and (max-width: 520px) {
  .popup.add-teacher {
    min-width: calc(100% - 10vw - 30px);
    max-width: calc(100% - 10vw);
  }
}

[class^=ico-],
[class*=" ico-"] {
  display: inline-block;
  cursor: pointer;
}

.ico-close::before {
  content: "✖";
}

a.toggle-map {
  color: #1a9cb0;
  text-decoration: dashed underline;
}

.add-teacher-form {
  display: flex;
  flex-direction: column;
  padding: 0 0px;
  font-size: 0.75rem;
}
.add-teacher-form > * {
  padding: 10px;
}
@media screen and (max-width: 520px) {
  .add-teacher-form > * {
    padding: 5px;
  }
}
.add-teacher-form div {
  display: flex;
  flex-direction: column;
}
.add-teacher-form div label {
  margin-bottom: 4px;
  color: #999999;
}
.add-teacher-form fieldset {
  display: flex;
  align-items: center;
  align-content: center;
}
.add-teacher-form fieldset > label {
  margin: 0 30px 0 0;
  color: #999999;
}
.add-teacher-form fieldset span {
  display: flex;
  align-items: center;
}
.add-teacher-form fieldset span label {
  margin: 0 5px;
  color: #222222;
}
.add-teacher-form fieldset div {
  width: 50%;
}
.add-teacher-form .button {
  font-size: 1.375rem;
}

/*# sourceMappingURL=style.css.map */
